<div class="row" id="choose-project">
	<h1 class="form-header" id="choose-project-header">Pick a project type</h1>
	<%= render "form/choose" %>
</div>
<div class="row" id="basic-info">
	<h1 class="form-header">Basic Info</h1>
	<%= render "form/basic" %>
</div>
<div class="row" id="project-medium">
	<h1 class="form-header">Project Medium</h1>
	<%= render "form/medium" %>
</div>
<div class="row" id="project-details">
	<h1 class="form-header">Project Details</h1>
	<%= render "form/details" %>
</div>
<div class="row" id="project-logistics">
	<h1 class="form-header">Project Logistics</h1>
	<%= render "form/logistics" %>
</div>