<h1>DiDA <%= @request.requestType %> Confirmation</h1>
<ul>
	<li>First Name: <%= @request.firstName %></li>
	<li>Last Name: <%= @request.lastName %></li>
	<li>Organization Name: <%= @request.firstName %></li>
	<li>Cell Number: <%= @request.cellNumber %></li>
	<li>Fund Code: <%= @request.fundCode %></li>
	<li>Email: <%= @request.eMail %></li>
	<li>Project Medium: <%= @request.printMedium %></li>
	<li>Organization Description: <%= @request.orgDescription %></li>
	<li>Project Direction: <%= @request.projectDirection %></li>
	<li>Project Details: <%= @request.projectDetails %></li>
	<li>Due Date: <%= @request.dueDate %></li>
</ul>