<div id="form-new">
	<div id="progress-bar">
		<%= render "requests/progress" %>
	</div>
	<div class="row" id="choose-project">
		<h1 class="form-header" id="choose-project-header">Pick a project type</h1>
		<%= render "requests/choose" %>
	</div>
	<div class="row" id="basic-info">
		<h1 class="form-header">Basic Info</h1>
		<%= render "requests/basic" %>
	</div>
	<div class="row" id="project-medium">
		<h1 class="form-header">Project Medium</h1>
		<%= render "requests/medium" %>
	</div>
	<div class="row" id="project-details">
		<h1 class="form-header">Project Details</h1>
		<%= render "requests/details" %>
	</div>
</div>
