<!DOCTYPE html>
<html>
<head>
	<title>Duke Innovative Design Agency</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,500,700,900' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render "shared/navbar" %>
		<div class="col-12">
			<%= yield %>
		</div>
	</div>
</body>
</html>
